
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Registro de usuario</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/">
      </ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


<ion-content [fullscreen]="true" class="ion-padding">
  
  <!-- Formulario para añadir un elemento -->
  <ion-item class="espaciado-vertical">
    <ion-input label="Nombre: " [(ngModel)]="nombres" name="language"></ion-input>
  </ion-item>

  <ion-item class="espaciado-vertical">
    <ion-input label="Correo: " [(ngModel)]="correo" name="language"></ion-input>
  </ion-item>

  <ion-item class="espaciado-vertical">
    <ion-input label="Contraseña: " [(ngModel)]="contrasenia" name="language" type="password"></ion-input>    
  </ion-item>

  <div class="ion-padding">

  
  <ion-button class="espaciado-vertical ion-text-center" expand="block" (click)="create()">
    <ion-icon name="add-outline"></ion-icon>
    Grabar
  </ion-button>

</div>

</ion-content>
